<h1>Register</h1>

<form method="post">
  <input type="text" name="username" placeholder="username"><br>
  <input type="email" name="email" placeholder="email"><br>
  <input type="password" name="password" placeholder="password"><br>
  <input type="password" name="passwordConfirm" placeholder="confirm password"><br>
  <input type="checkbox" name="acceptTerms">Accept terms and all that...<br>
  <input type="submit" value="register">
</form>
